body {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.nav {
  background-color: rgba(37, 34, 34, 0.973);
  color: white;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 0px;
}

.nav ul li {
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}

.nav ul li:hover{
  background-color: black;
}

@media screen and (min-width: 700px){
  .nav ul {
    text-align: right;
  }

  .nav ul li {
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
    text-align: left;
  }
}
